*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    --antd-wave-shadow-color: $color-dark-1 !important;
}

body {
    background-color: $color-grey-light-1 !important;
}

.App {
    max-height: 100vh
}

.content {
    padding: 2rem 4rem 6rem 4rem;
    display: inline-block;
    width: calc(100% - 8rem);
    vertical-align: top;
    position: relative;
    min-height: 70rem;
    margin-left: 8rem;

    & > h1, & > .ant-tabs {
        min-height: calc(100vh - 32rem);
    }
}