.categories-manager {
    background-color: $color-white;
    padding: 3rem 0;
    border-radius: .5rem;
    border: 1px solid $color-grey-light-2;

    .categories-header {
        height: 7rem;
        border-bottom: 1px solid $color-grey-light-2;

        h3 {
            padding-left: 3.5rem;
            font-weight: 600;
            font-size: 1.6rem;
            font-family: Montserrat;
            color: $color-dark-1;
            margin: 0;
            padding-top: 1rem;
        }

        .search-block {
            float: right;
            margin-right: 2.7rem;

            input {
                width: 47.8rem;
            }
        }
    }
}

.categories-content {
    padding: 4rem 2.7rem 0;

    .cards-block-outer {
        position: relative;
        margin-bottom: 2.1rem;

        .cards-block-inner {
            height: 160px;
            overflow: hidden;
            width: 100%;
            position: relative;
    
            .cards-content {
                position: absolute;
                left: 0;
                transition: all .2s;
            }
        }

        .cards-navigator {
            color: $color-grey-light-4;
            border: 1px solid $color-grey-light-2;
            width: 3rem;
            height: 3rem;
            border-radius: .5rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            background: $color-white;
            cursor: pointer;

            svg {
                display: block;
                margin: .5rem auto;
            }

            &.cards-navigator-right {
                right: 0;
                transform: translate(50%, -50%);
            }

            &:hover {
                color: $color-dark-1;
            }
        }
    }
    
}