.footer {
    // position: absolute;
    // bottom: 6rem;
    // left: 4rem;
    line-height: 1.8rem;
    padding-top: 10rem;

    .copyright {
        font-size: 1.4rem;
    }

    ul {
        list-style: none;
        display: inline-block;
        margin-left: 6rem;
        margin-bottom: 0;

        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 3rem;
            }
            a {
                color: $color-dark-1;
            }
        }
    }
}