.tabs {

    & > .ant-tabs-nav {
        height: 34px;
    }

    & > .ant-tabs-nav::before {
        border-bottom-color: transparent !important;
    }

    .ant-tabs-tab {
        padding: 0 0 1.6rem;
        font-size: 1.6rem;
        color: rgba($color-dark-1, .85);

        &:hover {
            color: $color-dark-1;
        }

        .ant-tabs-tab-btn {
            transition: all .2s;

            &:focus,
            &:active {
                color: $color-dark-1;
            }
        }

        &.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $color-dark-1;
            font-weight: 600;
            text-shadow: none;
        }
    }

    .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 2.6rem;
    }

    .ant-tabs-ink-bar {
        background: $color-primary !important;
    }
}