.search-block {
    position: relative;
    display: inline-block;
    vertical-align: top;

    .remixicon-icon {
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        color: $color-grey-light-3;
        width: 1.6rem;
    }

    input {
        width: 30.6rem;
        height: 4rem;
        margin-left: 7.35rem;
        padding: 0px 1.3rem;
        border-radius: .5rem;
        border: 1px solid $color-grey-light-2;
        outline: none;
    }
}