.custome-tree {

    &.tree-without-indent {
        padding: 3.1rem 3.8rem;

        &:not(:first-child) {
            padding-top: 0;
        }

        .ant-tree-indent,
        .ant-tree-switcher {
            display: none;
        }

        .ant-tree-treenode {
            font-size: 1.3rem;
            line-height: 1.56rem;
            padding: 0;
            display: table;
            height: 4rem;

            .ant-tree-node-content-wrapper {
                padding-left: 1.7rem;
                line-height: 1.8rem;
                display: table-cell;
                vertical-align: middle;
            }
            
            &:first-child {
                font-size: 1.4rem;
                font-weight: 600;
            }

            .ant-tree-checkbox {
                display: table-cell;
                vertical-align: middle;
                margin-top: 0;

                .ant-tree-checkbox-inner {
                    width: 2rem;
                    height: 2rem;
                }

                &:hover {
                    .ant-tree-checkbox-inner {
                        border-color: $color-dark-1;
                    }
                }
            }

            .ant-tree-checkbox-checked {
                &:after {
                    border: none;
                }

                .ant-tree-checkbox-inner {
                    background-color: $color-dark-1;
                    border-color: $color-dark-1;
                }
            }

            .ant-tree-checkbox-indeterminate {
                .ant-tree-checkbox-inner {
                    &:after {
                        background-color: $color-dark-1;
                    }  
                }
            }
        }
    }
}